    <header class="bg-white z-50 shadow-md h-[4.5rem] fixed w-full top-0">
        <nav class="container mx-auto h-full px-4 flex justify-center items-center">
            <div [ngStyle]="{'hidden': button}" class="md:flex space-x-6 lg:space-x-12 items-center">
                <a href="#session-inicio" class="text-gray-600 hover:text-green-600 font-medium transition-colors duration-200">Inicio</a>
                <a href="#session-experiencia-laboral" class="text-gray-600 hover:text-green-600 font-medium transition-colors duration-200">Experiencia Laboral</a>
                <a href="#session-proyectos" class="text-gray-600 hover:text-green-600 font-medium transition-colors duration-200">Proyectos Personales</a>
                <a href="#session-tecnologias" class="text-gray-600 hover:text-green-600 font-medium transition-colors duration-200">Stack Tecnologías</a>
                <a href="#session-sobre-mi" class="text-gray-600 hover:text-green-600 font-medium transition-colors duration-200">Sobre Mí</a>
            </div>
        </nav>
    </header>