<section id="session-sobre-mi" class="py-16 px-4 lg:px-16 bg-white">
            <h2 class="text-3xl md:text-4xl font-bold mb-8 text-center text-gray-900">Sobre Mí</h2>
            <div class="max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
                <div class="space-y-4 w-[40rem]">
                    <p class="text-[1.2rem] leading-relaxed text-gray-600">
                        Soy un Apasionado desarrollador web con 2 años de experiencia creando soluciones eficientes y atractivas. Me especializo en Angular y Laravel, con un enfoque en código limpio, escalable y metodologías ágiles. Busco constantemente nuevas tecnologías para resolver problemas complejos y mantenerme actualizado.                    
                    </p>


            <div class="mx-auto flex gap-6 mt-[2rem]">
                <a href="https://github.com/Leonardo-Rodriguez2" target="_blank">
                <div class="flex flex-col items-center hover:transform  hover:-translate-y-[3px] cursor-pointer duration-200">
                    <img src="github.png" alt="Logo HTML" class="size-12 object-cover">
                </div>
                </a>
                <a href="https://www.linkedin.com/in/leonardo-rodriguez-093529323/" target="_blank">
                <div class="flex flex-col items-center hover:transform  hover:-translate-y-[3px] cursor-pointer duration-200">
                    <img src="linkedin.png" alt="Logo HTML" class="size-12 object-cover">
                </div>
                </a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=leonardorodriguez172021@gmail.com" target="_blank">
                <div class="flex flex-col items-center hover:transform  hover:-translate-y-[3px] cursor-pointer duration-200">
                    <img src="gmail.png" alt="Logo HTML" class="size-12 object-cover">
                </div>
                </a>
            </div>



                </div>
                <div class="flex justify-center md:justify-end">
                    <img src="hombre-de-negocio.jpeg" alt="Foto de perfil del desarrollador" class="w-64 h-64 md:w-90 md:h-90 shadow-lg object-cover border-4 border-green-600">
                </div>
            </div>
</section>