  <section id="session-inicio" class="bg-white py-20 md:py-25 w-full flex justify-center items-center min-h-screen">
            <div class="flex flex-col md:flex-row justify-center items-center gap-10 w-full max-w-4xl">
                <img src="perfil.jpeg" class="rounded-full max-w-[250px] max-h-[250px] shadow-lg border-4 border-green-600 transition-all duration-300 transform hover:scale-105">
                <div class="w-full text-center md:text-left flex flex-col items-center md:items-start">
                    <h1 class="text-3xl md:text-4xl lg:text-6xl font-extrabold leading-tight text-gray-900">Hola, soy</h1>
                    <h2 class="text-green-600 text-[2.5rem] md:text-4xl lg:text-6xl font-extrabold leading-tight">Leonardo Rodriguez</h2>
                    <p class="text-gray-600 text-lg md:text-xl max-w-[700px] leading-relaxed mt-2">Ingeniero de Software y Desarrollador Web. Con 2 años de experiencia como freelancer, he colaborado en la creación de aplicaciones web a medida, enfocándome en soluciones únicas y funcionales para cada cliente.</p>
                    <div class="flex justify-center md:justify-start gap-4 pt-6 max-[600px]:gap-1.5">
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=leonardorodriguez172021@gmail.com" target="_blank" class="bg-green-600 text-white font-semibold px-8 py-3 rounded-lg shadow-lg hover:bg-green-700 transition duration-300 transform hover:-translate-y-1">Contactame</a>
                        <a href="cv.pdf" download class="bg-gray-200 text-gray-800 font-semibold px-8 py-3 rounded-lg shadow-lg hover:bg-gray-300 transition duration-300 transform hover:-translate-y-1">Descargar CV</a>
                    </div>
                </div>
            </div>
        </section>