
    <!-- Seccion del header -->
    <!-- Se encuentra en el componente HeaderComponent -->

    <app-header></app-header>

    <main>

        <!-- Sección de Inicio -->
        <!-- Se encuentra en el componente top.of.page -->

        <app-top-of-page></app-top-of-page>
      

        <!-- Seccion de Experiencia Laboral -->
        <!-- Se encuentra en el componente work.experience -->

        <app-work-experience></app-work-experience>

        

        <!-- Sección de Proyectos Personales -->
        <!-- Se encuentra en el componente personal.projects -->

        <app-personal-projects></app-personal-projects>



        
        <!-- Sección de Stack Tecnologías -->
        <!-- Se encuentra en el componente technology.stack -->

        <app-technology-stack></app-technology-stack>

        <!-- Sección Sobre Mí -->
        <!-- Se encuentra en el componente about.me -->

        <app-about-me></app-about-me>
        

    </main>

    <!-- Pie de página -->
    <footer class="py-8 text-center text-gray-600 bg-gray-50 shadow-inner">
        <p>&copy; 2025 Leonardo Rodriguez. Todos los derechos reservados.</p>
    </footer>

