<section id="session-tecnologias" class="py-16 px-4 lg:px-16 bg-gray-50">
            <h2 class="text-center font-bold text-3xl md:text-4xl mb-12 text-gray-900 mt-6">Stack Tecnologías</h2>
            <div class="max-w-5xl mx-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
                <!-- HTML -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="HTML.png" alt="Logo HTML" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">HTML</h3>
                </div>
                <!-- CSS -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="CSS.png" alt="Logo CSS" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">CSS</h3>
                </div>
                <!-- JAVASCRIPT -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="JAVASCRIPT.png" alt="Logo JAVASCRIPT" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">JAVASCRIPT</h3>
                </div>
                <!-- TYPESCRIPT -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="TYPESCRIPT.png" alt="Logo TYPESCRIPT" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">TYPESCRIPT</h3>
                </div>
                <!-- ANGULAR -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="ANGULAR.png" alt="Logo ANGULAR" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">ANGULAR</h3>
                </div>
                <!-- TAILWIND -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="TAILWIND.png" alt="Logo TAILWIND" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">TAILWIND</h3>
                </div>
                <!-- PHP -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="PHP.png" class="mb-4 size-14 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">PHP</h3>
                </div>
                <!-- LARAVEL -->
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="LARAVEL.png" alt="Logo LARAVEL" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">LARAVEL</h3>
                </div>
                <div class="bg-white p-6 rounded-2xl shadow-lg text-center flex flex-col items-center hover:shadow-xl transition-shadow duration-200">
                    <img src="GIT.png" alt="Logo LARAVEL" class="mb-4 size-16 object-cover">
                    <h3 class="text-lg font-semibold text-gray-800">GIT</h3>
                </div>
            </div>
</section>